@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #8797de;
    background: radial-gradient(circle, rgba(135, 151, 222, 1) 0%, rgba(75, 43, 97, 1) 100%);
    color: white;
    font-family: 'inter', sans-serif;

}
span{
    color: #01102b;
    text-decoration: underline;
}
.cruds{
    width: 80%;
    margin: 100px auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}
.head h2{
    font-weight: 700;
    font-size: 41px;
}
.head p{
    text-transform: capitalize;
    font-size: 20px;
}
.inputs input, .outputs input{
    width: 100%;
    outline: none;
    border: none;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0px 10px ;
    transition: 0.3s ease-in-out;
}
.inputs input:focus, .outputs input:focus{
    background-color: #ffffffe1;
}
.inputs button, .outputs .bothbtn button, #deleteall button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background: #01102b;
    font-family: 'inter';
    color: white;
    font-family: 'inter';
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
small{
    background-color: #01102b;
    padding: 8px 6px;
    border-radius: 10px;
    color: #8797de;
}
small::before{
    content: 'Total: ';
}
.inputs button:hover, .outputs .bothbtn button:hover,#deleteall button:hover{
    letter-spacing: 1px;
}
.price input{
    width: 20%;
}
.mobile-resp{
    display: none;
}

.outputs input{
    width: 100%;
    margin-top: 10px;
}
.outputs .bothbtn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


table tr th{
    text-align: center;
    text-transform: uppercase;
    background-color: #01102b;
    border-radius: 4px;
}
table tbody{
    text-transform: capitalize;
}
table tbody tr td{
    background-color: #ffffffd0;
    color: #01102b;
    border-radius: 4px;
}
.trans{
    background-color: transparent;

}
table tbody tr td button{
    height: 30px;
    padding: 0px 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #01102b;
    color: #ffffff;
    font-family: 'inter';
    cursor: pointer;
    transition: 0.2s ease;
}
table tbody tr td button:hover{
    background-color: #02163b;
    transform: scale(0.96);
}
a{
    padding: 10px;
    background-color: #ffffff8a;
}

.warrning::placeholder{
    color: red;
}
.tablebtn{
    background-color: transparent;
}
#deleteall{
    margin-top: 10px;
}
#create{
    color: #8797de;
}





/* resposive mobile */
@media (min-width: 319px) and (max-width: 851px){
    .price input{
        width: 100%;
    } 
    .price{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
    }
    .mobile-resp small{
        width: 100%;
        text-align: center;
    }
    .mobile-resp{
        width: 100%;
        display: flex;
        justify-content:  center;
        align-items: center;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        font-size: 10px;
    }
    .cruds{
        width: 100%;
        padding: 0px 10px;
    }
    .mobile{
        display: none;
    }
    .inputs button, .outputs .bothbtn button, #deleteall button{
        font-size: 12px;
    }
    .total{
        display: none;
    }
    footer div{
        font-size: 12px;
    }

}
/* ipad resposive */
@media (min-width: 852px) and (max-width: 1040px){
    .mobile{
        display: block;
    }
    #ipad{
        display: none;
    }
    .price small .total{
        display: block;
    }


}
